<section id="comment-editor" class="row">
    <section class="col-2 user-info">
        <a href="perfil.html">
            <img src="http://picsum.photos/50?random"
                 alt="Avatar del usuario"
                 class="rounded-circle avatar">
        </a>
    </section>
    <section class="col-10 comment-content">
        <form action="#" method="POST">
            <div class="form-group">
                <label class="sr-only">Comentario</label>
                <textarea name="description" placeholder="Comentario"
                          class="form-control"></textarea>
            </div>
            <div class="form-row align-items-center">
                <div class="col col-8-md form-check py-3">
                    <input id="email-notifications-input"
                           name="email-notifications" type="checkbox"
                           class="form-check-input">
                    <label for="email-notifications-input"
                           class="form-check-label">
                        Quiero recibir por correo las novedades en este hilo
                    </label>
                </div>
                <div class="w-100 d-md-none"></div>
                <div class="col col-md-4 text-right my-3 my-md-0">
                    <input type="submit" value="Enviar"
                           class="btn btn-lg btn-info">
                </div>
            </div>
        </form>
    </section>
</section>
