<footer class="container-fluid bg-dark p-3 px-5">
  <div class="row">
    <article class="col">
      <h4>{{ ctx.lorem.lorem_words(2) }}</h4>
      <ul>
        <li>
          <a href="#">{{ ctx.lorem.lorem_words(2) }}</a>
        </li>
        <li>
          <a href="#">{{ ctx.lorem.lorem_words(2) }}</a>
        </li>
        <li>
          <a href="#">{{ ctx.lorem.lorem_words(2) }}</a>
        </li>
        <li>
          <a href="#">{{ ctx.lorem.lorem_words(2) }}</a>
        </li>
        <li>
          <a href="#">{{ ctx.lorem.lorem_words(2) }}</a>
        </li>
      </ul>
    </article>
    <article class="col">
      <h4>{{ ctx.lorem.lorem_words(2) }}</h4>
      <ul>
        <li>
          <a href="#">{{ ctx.lorem.lorem_words(2) }}</a>
        </li>
        <li>
          <a href="#">{{ ctx.lorem.lorem_words(2) }}</a>
        </li>
        <li>
          <a href="#">{{ ctx.lorem.lorem_words(2) }}</a>
        </li>
        <li>
          <a href="#">{{ ctx.lorem.lorem_words(2) }}</a>
        </li>
        <li>
          <a href="#">{{ ctx.lorem.lorem_words(2) }}</a>
        </li>
      </ul>
    </article>
    <article class="col">
      <h4>{{ ctx.lorem.lorem_words(2) }}</h4>
      <ul>
        <li>
          <a href="#">{{ ctx.lorem.lorem_words(2) }}</a>
        </li>
        <li>
          <a href="#">{{ ctx.lorem.lorem_words(2) }}</a>
        </li>
        <li>
          <a href="#">{{ ctx.lorem.lorem_words(2) }}</a>
        </li>
        <li>
          <a href="#">{{ ctx.lorem.lorem_words(2) }}</a>
        </li>
        <li>
          <a href="#">{{ ctx.lorem.lorem_words(2) }}</a>
        </li>
      </ul>
    </article>
    <article class="col">
      <h4>Enlaces de interés</h4>
      <ul>
        <li>
          <a href="#">Contactar</a>
        </li>
        <li>
          <a href="#">Política de cookies</a>
        </li>
        <li>
          <a href="#">Términos y condiciones</a>
        </li>
        <li>
          <a href="centrodeportivo/como_se_hizo.pdf">Cómo se hizo</a>
        </li>
      </ul>
    </article>
  </div>
</footer>
