{% import 'includes/login-form.html' as login_form %}

<header class="bg-dark container-fluid p-3 px-5">
  <div class="row">
    <a href="#" class="col d-block mt-2">
      <img src="http://via.placeholder.com/150x150" alt="Logo"
           class="d-block mx-auto" />
    </a>
    <h1 id="brand-name" class="col-md-6 my-4 my-md-0 text-center">
      <span class="d-lg-none">Lorem Ipsum</span>
      <span class="d-none d-lg-inline huge">Lorem Ipsum</span>
    </h1>
    {% if needs_auth %}
        {{ login_form.login_form() }}
    {% else %}
        <div id="greeting-container" class="col">
            <span class="greeting text-muted">
                Bienvenido,
                <span class="name">
                    <a href="profile.html" class="text-light">Usuario</a>
                </span>
            </span>
            <div class="w-100"></div>
            <br>
            <a href="logout.html" class="btn btn-primary" role="button">
                Desconectar
            </a>
        </div>
    {% endif %}
  </div>
</header>
