<div id="headernav" class="row justify-content-around">
    <div class="col-auto d-none d-md-flex">
        <form id="search-form" action="#" method="POST"
              class="form-inline">
            <input name="search" type="search"
                   placeholder="Buscar" aria-label="Buscar"
                   class="form-control form-control">
            <button class="btn btn-outline-success ml-2">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </form>
    </div>
    <div class="col-auto order-3 order-md-1">
        <a href="nuevo-hilo.html"
           class="btn btn-lg btn-warning">
            Abrir nuevo hilo
        </a>
    </div>
    <div class="w-100 d-md-none my-3 order-2"></div>
    <div class="col-auto order-1 order-md-2">
        <a id="messages" href="#">
            <span class="glyphicon glyphicon-envelope"></span>
        </a>
        <a id="profile-link" href="perfil.html">
            <img id="avatar" src="http://picsum.photos/50?random"
                 alt="Avatar del usuario" class="rounded-circle">
        </a>
        @Usuario
    </div>
</div>
