<nav class="navbar navbar-expand-lg navbar-dark bg-primary nav-fill">
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbar-menu"
            aria-controls="navbar-menu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-menu"
         class="collapse navbar-collapse">
        <div class="navbar-nav w-100">
            {% include 'includes/navbar-links.njk' %}
        </div>
    </div>
</nav>
