<aside id="navbar-menu" class="col pl-md-5 ml-md-3 mb-md-4">
    <nav class="nav flex-column">
        <a class="nav-link active" href="index.html">Inicio</a>
        <a class="nav-link" href="activities.html">Actividades</a>
        <a class="nav-link" href="timetable.html">Horario</a>
        <a class="nav-link" href="tecnicos.html">Técnicos</a>
        <a class="nav-link" href="services.html">Instalaciones y servicios</a>
        <a class="nav-link" href="localizacion.html">Localización</a>
        <a class="nav-link" href="promotions.html">Precios y promociones</a>
        <a class="nav-link" href="register.html">Alta de usuarios</a>
        <a class="nav-link" href="forum.html">Foro</a>
    </nav>
</aside>
