<aside id="navbar-menu" class="col pl-md-5 ml-md-3 mb-md-4">
  <nav class="nav flex-column">
    <a class="nav-link active" href="index.html">Inicio</a>
    <span class="nav-link">Actividades</span>
    <span class="nav-link">Horario</span>
    <span class="nav-link">Técnicos</span>
    <span class="nav-link">Instalaciones y servicios</span>
    <span class="nav-link">Localización</span>
    <span class="nav-link">Precios y promociones</span>
    <a class="nav-link" href="register.html">Alta de usuarios</a>
    <span class="nav-link">Foro</span>
  </nav>
</aside>
