{% extends "__layout.njk" %}

{% from 'picsum.njk' import picsum %}

{% block assets %}
<link rel="stylesheet" href="assets/css/activity-detail.css">
{% endblock %}

{% block title %}{{ ctx.lorem.lorem_words(2) }}{% endblock %}

{% macro activity_link(new=false, active=false) %}
    <li class="nav-item">
        <a class="nav-item nav-link {{ 'active' if active }}" href="#">
            {{ ctx.lorem.lorem_words(2) }}
        </a>
        {% if new %}
            <div class="w-100 d-lg-none"></div>
            <span class="badge badge-pill badge-warning ml-lg-3 mb-3 mb-lg-0">
                ¡NOVEDAD!
            </span>
        {% endif %}
    </li>
{% endmacro %}

{% block content %}
    {% set current = '' %}
    {% include 'includes/navbar-menu-horizontal.njk' %}
    <main class="container-fluid my-5 px-5">
        <div class="row">
            <section class="col-md-8" id="activity-container">
                <h2 class="activity-title">{{ ctx.lorem.lorem_words(2) }}</h2>
                {{ picsum(
                    800, 400, "Imagen de la actividad",
                    class="my-5 mw-100"
                ) }}
                {% for _ in range(3) %}
                    <p>
                        {{ ctx.lorem.lorem({ units: 'paragraphs', count: 1 }) }}
                    </p>
                {% endfor %}
            </section>
            <hr class="w-100 d-md-none">
            <aside id="activity-menu" class="col mb-md-4">
                <h2 id="activity-menu-heading" class="mb-3">
                    Otras actividades
                </h2>
                <nav class="nav nav-pills flex-column">
                    <ul>
                        {{ activity_link(new=true) }}
                        {{ activity_link(new=true, active=true) }}
                        {{ activity_link() }}
                        {{ activity_link() }}
                        {{ activity_link() }}
                    </ul>
                </nav>
            </aside>
        </div>
    </main>
{% endblock %}
