{% extends "__layout.njk" %}

{% block assets %}
<link rel="stylesheet" href="assets/css/coaches.css">
{% endblock %}

{% block title %}Técnicos{% endblock %}

{% macro coach_item() %}
    <article class="coach-item col">
        <a href="tecnico-detail.html">
            <section class="coach-thumb">
                <img
                    src="http://picsum.photos/150?random"
                    alt="Foto del técnicx"
                    class="img-thumbnail"
                >
            </section>
            <section class="coach-name mt-4 text-center">
                <h2>{{ ctx.lorem.lorem_words(2) }}</h2>
            </section>
        </a>
    </article>
{% endmacro %}

{% macro coach_row() %}
    <div class="row no-gutters">
        {% for _ in range(3) %}
            <div class="col">
                {{ coach_item() }}
            </div>
            <div class="w-100 d-md-none"></div>
        {% endfor %}
    </div>
{% endmacro  %}

{% block content %}
    {% set current = 'coaches' %}
    {% include 'includes/navbar-menu-horizontal.njk' %}
    <main class="container-fluid my-5 px-5">
        <div class="row">
            <section class="col" id="coach-list">
                {% for _ in range(3) %}
                    {{ coach_row() }}
                {% endfor %}
            </section>
        </div>
    </main>
{% endblock %}
