{% from 'picsum.njk' import picsum %}

{% macro paginator(id, n=9, current=4) %}
    <div id="{{ id }}" class="paginator row no-gutters">
        <div class="col-1 arrow">
            <a href="#">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="col-10">
            <ul class="list-inline">
                {% for i in range(1, current - 2) %}
                    <li class="list-inline-item d-none d-md-block">
                        <a href="#"
                           {% if i == current %} class="active" {% endif %}>
                            {{ i }}
                        </a>
                    </li>
                {% endfor %}

                {% for i in range(current - 2, current + 3) %}
                    <li class="list-inline-item">
                        <a href="#"
                           {% if i == current %} class="active" {% endif %}>
                            {{ i }}
                        </a>
                    </li>
                {% endfor %}

                {% for i in range(current + 3, n + 1) %}
                    <li class="list-inline-item d-none d-md-block">
                        <a href="#"
                           {% if i == current %} class="active" {% endif %}>
                            {{ i }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-1 arrow">
            <a href="#">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
{% endmacro %}

{% macro thread(author, title, summary) %}
    <article class="row thread">
        <div class="col-2 user-info">
            <a href="perfil.html">
                {{ picsum(
                    50, alt="Avatar del usuario",
                    class="rounded-circle avatar"
                ) }}
            </a>
            <p class="author">@{{ author }}</p>
        </div>
        <div class="col-8 thread-content">
            <h2 class="thread-title h6">
                <a href="hilo-detail.html">
                    {{ title }}
                </a>
            </h2>
            <p class="text-muted">
                {{ summary }}
            </p>
        </div>
        <div class="col-2 thread-info">
            <div class="comments">
                <div class="comments-container">
                    {{ range(50, 100) | random }}
                </div>
            </div>
            <div class="views">
                <span class="glyphicon glyphicon-eye-open"></span>
                {{ range(100, 2000) | random }}
            </div>
            <div class="time">
                <span class="glyphicon glyphicon-time"></span>
                {{ range(10, 50) | random }} min
            </div>
        </div>
    </article>
{% endmacro %}

{% macro thread_comment(author, content) %}
    <article class="row thread-comment">
        <h3 class="sr-only">Comentario de @{{ author }}</h3>
        <div class="col-4 col-md-2 user-info">
            <a href="perfil.html">
                {{ picsum(
                    50, alt="Avatar del usuario",
                    class="rounded-circle avatar"
                ) }}
            </a>
            <p class="author">@{{ author }}</p>
        </div>
        <div class="col-8 col-md-10 comment-content">
            <p class="text-muted">
                {{ content }}
            </p>
        </div>
        <div class="w-100"></div>
        <div
            class="w-100 row no-gutters comment-info justify-content-around">
            <div class="col col-md-1">
                <button class="btn btn-outline-success">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    {{ range(1, 50) | random }}
                </button>
            </div>
            <div class="col col-md-1">
                <button class="btn btn-outline-danger">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                    {{ range(1, 50) | random }}
                </button>
            </div>
            <div class="col col-md-1">
                <button title="Reportar" class="btn btn-outline-warning">
                    <span class="glyphicon glyphicon-flag"></span>
                </button>
            </div>
            <div class="w-100 d-md-none my-2 my-md-0"></div>
            <div class="col-1"></div>
            <div class="col col-md-1">
                <button title="Responder" class="btn btn-outline-info">
                    <span class="glyphicon glyphicon-share-alt"></span>
                    Responder
                </button>
            </div>
            <div class="col-1"></div>
            <div class="col col-md-2">
                <span class="glyphicon glyphicon-time"></span>
                {{ range(10, 50) | random }}min
            </div>
        </div>
    </article>
{% endmacro %}
