{% extends "__layout.njk" %}


{% block assets %}
<link rel="stylesheet" href="assets/css/index.css">
{% endblock %}

{% block title %}Inicio{% endblock %}

{% block content %}
<main class="container-fluid mt-md-3 px-0 px-md-3">
  <div class="row">
    <section class="col-md-8" id="picture">
      <img src="http://picsum.photos/g/870/410/?image=1077">
      <div id="quote">
        <p>
          <q>
            When you want something, all the universe
            <br>
            conspires in helping you to achieve it.
          </q>
        </p>
        <p>&mdash; Paulo Coelho</p>
      </div>
    </section>
    {% include (
        "includes/navbar-menu-auth.html" if ctx.logged_in
        else "includes/navbar-menu.html"
    ) %}
  </div>
</main>
{% endblock %}
