{% extends "__layout.njk" %}

{% set api_key = "AIzaSyCAl_N-dC4lHNfIJCCuCo_STnW0XPKZJZQ" %}
{% set place_name = "E.T.S. of Computer and Telecommunication Engineering" %}

{% block assets %}
    <link rel="stylesheet" href="assets/css/location.css">
{% endblock %}

{% block title %}Localización{% endblock %}

{% block content %}
    {% set current = 'location' %}
    {% include 'includes/navbar-menu-horizontal.njk' %}
    <main class="container-fluid my-5 px-5">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Localización</h1>
            </div>
            <div class="w-100"></div>
            <noscript class="w-100">
                <address class="col mt-5 font-italic text-center">
                    Calle Periodista Daniel Saucedo Aranda s/n
                    <br>
                    E-18071 (Granada - España)
                </address>
            </noscript>
        <div class="w-100"></div>
        <div class="col">
            <section id="map-container">
                <iframe
                    src="https://www.google.com/maps/embed/v1/place?key={{ api_key }}&q={{ place_name | urlencode}}"
                    class="border-0 mx-auto my-5 d-block"
                    allowfullscreen
                ></iframe>
            </section>
        </div>
    </div>
</main>
{% endblock %}
