{% set title = htmlWebpackPlugin.options.title %}
{% set url = htmlWebpackPlugin.options.url %}

<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="refresh" content="0; url={{ url }}">
      <title>{{ title }}</title>
  </head>
  <body>
  </body>
</html>
