{% extends "__layout.njk" %}

{% block assets %}
    <link rel="stylesheet" href="assets/css/forum/main.css">
    <link rel="stylesheet" href="assets/css/forum/thread-detail.css">

    <link rel="stylesheet" href="assets/css/glyphicons.css">
{% endblock %}

{% block title %}
    {{ ctx.lorem.lorem({ count: 1, units: 'sentences'}) }}
{% endblock %}

{% from 'forum-utils.njk' import paginator, thread, thread_comment %}

{% block content %}
    {% set current = 'forum' %}
    {% include 'includes/navbar-menu-horizontal.njk' %}
    <main class="container-fluid">
        {% include 'includes/headernav.njk' %}
        <div class="container">
            <div class="row no-gutters">
                <div class="col col-lg-8">
                    {{ paginator('paginator-top') }}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <section class="col col-lg-8" id="thread-comments">
                    {% for _ in range(5) %}
                        {{ thread_comment(
                            author=ctx.lorem.lorem_words(1),
                            content=ctx.lorem.lorem({
                                'count': 1, 'units': 'paragraphs'
                            })
                        ) }}
                    {% endfor %}
                    {% include 'includes/comment-editor.njk' %}
                </section>
                <hr class="w-100 d-lg-none">
                {% include 'includes/forum-aside.njk' %}
            </div>
        </div>
        <div class="container">
            <div class="row no-gutters">
                <div class="col col-lg-8">
                    {{ paginator('paginator-bottom') }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
